html, body {
    margin: 0;
    padding: 0;
    background: #FFF;
    font-family: sans-serif;
    background-image: url('sources/img/galaxy.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.panel-controls {
  position: absolute;
  background-color: #fff;
}
canvas {
    height: 150px;
}
