* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #FFF;
    overflow: hidden;
    font-family: sans-serif;
    background-image: url('sources/img/galaxy.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.landing-gate {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.panel-controls {
  position: absolute;
  background-color: #fff;
}
canvas {
    height: 150px;
}
